.contenedor {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FEFFD9;
    font-family: 'Bree Serif', serif;
}

.fila {
    width: 100%;
    height: 100%;
    clear: both;
    background-color: #FFFFD9;
}

.tema{
    margin: 15px 0 0 0;
    padding: 0;
}

.tema a{
    font-size: 1.5em;
    text-align: center;
    margin-left: 10px auto 3px auto;
    padding: 0;
    color: #000000;
}

.top{
  background-color: #ee6e73;
  margin: 0;
  padding: 0;
}

.menu-fixed {
  height: 20%;
  width: 100%;
  margin: auto;

}
.centerBlock {
    margin: 0 auto;
}


.logo {
    margin: 0 auto;
    display: block;
    width: 30%;
}


.bottom-info{
  margin: 20px auto 0 auto;
  background-color: #053429;
}

.bot{
  margin: 30px auto 30px 3%;
}

.title {
  font-size: 1.5em;
}

.colorBlack{
  color: #000000;
}

.confirm{
  background-color: #FFE516;
}

.confirmtext{
  margin: 20px 50px auto auto;
  padding: 20px 20px auto auto;
  text-align: justify;
}

.confirmtext2{
  margin: 20px 50px 30px auto;
  padding: 20px 20px auto auto;
  text-align: justify;
}

.textpago{
  font-size: 2.5em;
  margin: auto 30px 30px 65px;
}

.confpago{
  margin-top: 35px;
}

.center-btn { text-align: center }

.center-line{
  margin-left: auto;
}

.over-fixed{
  z-index: 1500px;
}

.under-fixed{
  z-index: 500px;
}

.modal{
  display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #000000;
    padding: 0;
    max-height: 80%;
    width: 50%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

.modal.modal-fixed-footer {
    padding: 0;
    height: 20%;
}

@media only screen and (max-width: 992px)
materialize.min.css:13
.modal {
    width: 70%;
}

#container {
    border: 1px solid red;
    background: #eee;
    width: 377px;
    height: 355px;
    padding: 0 0 5px 0;
    overflow-y: scroll
}
#container img {
    border: 1px solid red;
    float: left; margin: 5px 0 0 5px
}


.sizeimg{
  width: 280px;
  height: 310px;
}

.justificado{
  text-align: justify;
}

.hide{
  display: none;
}

.minus_margin{
  margin: -5% auto auto auto;
  z-index: 1500000px;
}

.load_imgs{
  text-align: center;
  align-items: center;
  margin: auto auto 3% auto;
}

.borderimg{
   border: 3px solid black;
}

.hidden{
  display: none;
  visibility:inherit;
}
